<div class="pagetitle mt-4">
    <h1>Upload Bulk</h1>
    <nav class="mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Bulk</li>
            <li class="breadcrumb-item active">Upload Bulk</li>
        </ol>
    </nav>
</div>