<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Note : Upload only .csv files with maximum 10K records, You can upload multi files</h5>
                    <input id="demo" type="file" name="files" accept=".csv" multiple>
                </div>
            </div>
        </div>
    </div>
</section>